.login-container {
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

.loginButton {
    font: bold 16px Arial, Helvetica, "Helvetica Neue";
    padding: 13px 13px;
    margin-top: 10px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    width: 175px;
    outline: none;
    color: #ffffff;
    background-color: #000000;
}

input {
    padding-left: 0;
}


.login-form-header {
    color: #ffffff;
}

.login-form-header-2 {
    color: #ffffff;
}



.signup-text {
    color: #bbbbbb;
}

.info-textarea {
    background-color: #000000;
    color: white;
}
