.signup-container {
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.signupButton {
  font: bold 16px Arial, Helvetica, "Helvetica Neue";
  padding: 13px 13px;
  margin-top: 10px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  width: 175px;
  outline: none;
  color: #ffffff;
  background-color: #000000;
}

form {
    width:170px;
}

input {
    width:170px;
}


.login-text {
  color: #848484;
}

.signupText {
  color: #bbbbbb;
  background-color: #000000;
}
.signup-textarea {
  background-color: #000000;
  color: white;
}


.signup-form-header {
  color: #ffffff;
}
