body {
  background-color: black;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: transparent;
  background: transparent;
  left: auto;
  right: 0px;
}

.homeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  margin-top: 16px;
}

.homeButton .logo {
  margin-top: 10px;
  width: 90px;
  height: 90px;
}

#loginButton {
  margin-left: 2rem;
  margin-right: 2rem;
  font: bold 14px Arial, Helvetica, "Helvetica Neue";
  color: #ffffff;
  padding: 10px 10px;
  background: transparent;
  border-color: transparent;
  outline: none;
  margin-right: 10px;
  height: 35px;
  text-decoration: none;
  height: auto;
}

#loginButton:hover {
  cursor: pointer;
}

#singupButton {
  font: bold 14px Arial, Helvetica, "Helvetica Neue";
  color: #ffffff;
  padding: 8px 24px 8px;
  border: white solid 2px;
  border-radius: 4px;
  background: transparent;
  text-decoration: none;
}

.nav-bar {
  display: flex !important;
  margin-top: 50px;
  justify-content: flex-end;
  margin-right: 92px;
}
