body {
    background-color: black;
}

.homeButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.lSButton {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-top: 2rem;
  margin-bottom:2rem;

} */
.nav-bar {
    display: flex;
    position: relative;
    top: 16px;
    justify-content: flex-end;
    right: 93px;
}

#loginButton {
    margin-left: 2rem;
    margin-right: 2rem;
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    color: white;
    padding: 10px 10px;
    background: transparent;
    border-color: transparent;
    outline: none;
    margin-right: 10px;
    height: 35px;
    text-decoration: none;
    height: auto;
  }

  #loginButton:hover {
    cursor: pointer;
  }

  #singupButton {
    font: bold 14px Arial, Helvetica, "Helvetica Neue";
    color: white;
    padding: 7px 24px 8px;
    border: white solid 2px;
    border-radius: 4px;
    background: transparent;
    text-decoration: none;
  }

  .splash-top-img {
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    min-width: 1024px;
    /* height: 600px; */
    background-color: #cccccc;
    /* background-image: url(https://images.unsplash.com/photo-1617196034003-475e2195380e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2200&q=80); */
    min-height: 100%;
    background-size: 100% 100%;
    background-position: center;
  }
